@import "../../scss/px2rem.scss";
.toast-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: px2rem(40);
  line-height: px2rem(40);
  background: rgba(71, 71, 71, 0.9);
  z-index: 99;
  -webkit-border-radius: px2rem(5);
  -moz-border-radius: px2rem(5);
}
.toast-text {
  display: inline-block;
  max-width: px2rem(311);
  padding: 0 px2rem(16);
  vertical-align: bottom;
  font-size: px2rem(14);
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
