
*{
  margin: 0;
  padding: 0;
}
.w {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  /* background-color: red; */
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: #52bfff;
}

ul li {
  list-style: none;
}